Django==6.0.4
djangorestframework==3.17.1
django-cors-headers==4.9.0
pymongo==4.17.0
dnspython==2.8.0
python-dotenv==1.2.2
PyJWT==2.12.1
bcrypt==5.0.0
pillow==12.2.0
asgiref==3.11.1
sqlparse==0.5.5
gunicorn==23.0.0
